
=# answer.inspect

= form_for 'answers[]' do |f|
  - answers.each do |ans|
    = f.fields_for ans do |ff|
      - if ans.question.input_type == 'select'
        = ff.label :option_id do
          = ans.question.title
          - if ans.question.note
            %small.note= ans.question.note
          = ff.select :option_id, options_from_collection_for_select(ans.question.options, 'id', 'title', ans.option)

